.cardWrapper {
  position: absolute;
  transition: transform 0.5s ease, top 0.5s ease;
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
  height: 100vh;
}

.cardOffset {
  top: calc(4.6rem * var(--index));
  z-index: calc(10 - var(--index));
}


@media (min-width: 768px) {
  .cardOffset {
    top: calc(8.2rem * var(--index));
    z-index: calc(10 - var(--index));
  }
}

 @media (max-width: 767px) {
  .cardOffset {
    top: calc(4.6rem * var(--index));
    z-index: calc(10 - var(--index));
  }
}