.modalEnter {
    animation: slideUpBounce 0.6s ease-in-out forwards;
  }
  
  .modalExit {
    animation: slideDown 0.4s ease-in-out forwards;
  }
  
  @keyframes slideUpBounce {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    70% {
      transform: translateY(-10%);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
  }