:root {
  --blob-color: #A06AF8;
}

/* Ensure full viewport centering */
.preloader-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: #141221;
  padding-bottom: 4rem;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.fill {
  backface-visibility: hidden;
  z-index: 9999px;
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 50%; 
  overflow: hidden;
  transform: rotate(-45deg);
  box-shadow: 0 0 2rem 0 #0000ff inset;
  top: 28vh;
}

.gooey-container {
  filter: url(#gooey-fill);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22rem;
  height: 22rem;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 18px #0000ff inset;
  border-radius: 50%;
  overflow: hidden;
}

.level {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 300px;
  left: 50%;
  width: 500px;
  height: 350px;
  text-align: center;
  background: #0000ff;
  transform-origin: 50% 0;
  transform: translate3d(-413px, -53px, 0) rotate(45deg);
  animation: fill-level 14s linear -3s infinite;
  box-shadow: 0 0 100px 0 #0000ff inset, 0 0 200px 0 #0000ff inset;
}

/* Stop animation after page load */
.loaded .level {
  animation: none;
}

.plasma {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 30px 0 #0000ff inset;
}

.plasma_bubble {
  content: "";
  display: inline-block;
  width: 6rem;
  height: 6rem;
  background: #E1303B;
  border-radius: 50%;
  transform-origin: 50% 50%;
  box-shadow: 0 0 30px 20px #0000ff, inset;
  animation: fill-plasma_bubble 6s ease infinite;
}

@for $i from 1 through 8 {
  .bubble:nth-child(#{$i}) {
    width: (20px * $i); /* Increase width of each bubble dynamically */
    height: (20px * $i); /* Increase height proportionally */
    animation: fill-plasma_bubble 6s * ($i / 6) ease 0.5s / $i infinite; /* Vary duration and delay */
  }
}

@keyframes fill-level {
  0% {
    transform: translate3d(-413px, -53px, 0) rotate(45deg);
  }
  100% {
    transform: translate3d(-203px, -263px, 0) rotate(55deg);
  }
}

@keyframes fill-plasma_bubble {
  0% {
    transform: translate3d(-100px, -20px, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(100px, -40px, 0) rotate(180deg);
  }
  100% {
    transform: translate3d(-100px, -20px, 0) rotate(360deg);
  }
}

/* Countdown Text */
.preloader-text {
  color: #A06AF8;
  font-family: "Bely", sans-serif;
  font-size: .5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 246px; /* As per Figma */
  line-height: 89px; /* As per Figma */
}

  /* Rotating the outer group */
#outer-group {
    animation: rotate 5s infinite linear;
  }
  
  /* Keeping the inner group static */
  #inner-group {
    transform: none; 
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
    /* NavItem Styles */
.nav-item {
  height: 54px;
  padding: 0 24px;
  background-color: #141221;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background-color 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
  width: fit-content;
  border: none;
}

.nav-text {
  color: #fcfbff;
  font-size: 1.125rem;
  font-family: 'Greycliff CF', sans-serif;
  z-index: 3;
  transition: color 0.4s ease-in-out;
}

.nav-item::before {
  background-color: #f4f3ff;
  border-radius: 9999px;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-105%);
}

.nav-item:hover {
  z-index: 2;
}

.nav-item:hover::before {
  transform: translateX(0);
}

.nav-item:hover .nav-text {
  color: #141221;
}

/* More Specific Active State */
.nav-item:active {
  background-color: #f4f3ff;
  color: #141221;
}

.nav-item.active {
  background-color: #f4f3ff;
  color: #141221;
}
.nav-item.active .nav-text {
  color: #141221;
  font-weight: 500;
}

/* custom cursor */
.cursor {
  position: fixed; 
  pointer-events: none; 
  border-radius: 50%;
  z-index: 9999; 
}

.cursor--large {
  width: 2rem;
  height: 2rem;
  border: 1px solid #F4F3FF;
  opacity: 0.5;
  mix-blend-mode: difference;
}

.cursor--small {
  width: .5rem;
  height: .5rem;
  background-color: #F4F3FF;
  mix-blend-mode: difference;
}
  
/* PrimaryButton Styles */
.primary-button {
    height: 54px;
    padding: 24px;
    background-color: #3B1AE5;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(45deg, #E1303B 0%, #3B1AE5 60%); 
    background-size: 200% 200%;
    transition: background 0.5s ease;
    position: relative;
    overflow: hidden; 
  }
  
  .primary-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: linear-gradient(45deg, #3B1AE5 0%, #E1303B 100%); 
    transition: opacity 0.5s ease;
    z-index: 0;
    opacity: 0; 
  }
  
  .primary-button:hover::after {
    opacity: 1; 
  }
  
  .primary-button-text {
    color: #f4f3ff;
    font-size: 1.125rem;
    font-weight: 500;
    font-family: 'Greycliff CF', sans-serif;
    position: relative;
    z-index: 1; 
  }  

  /* SecondaryButton Styles */
  .secondary-button {
    position: relative;
    height: 54px;
    padding: 24px;
    background-color: rgba(244, 243, 255, 0.15); 
    border-radius: 9999px; 
    border: 2px solid #f4f3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    transition: border 0.3s ease;
  }
  
  .secondary-button:hover {
    animation: halo 2s infinite; 
  }
  
  .secondary-button-text {
    position: relative;
    z-index: 1; 
    color: #F4F3FF;
    font-size: 1.125rem;
    font-weight: 500;
    font-family: 'Greycliff CF', sans-serif;
    text-align: center;
  }
  
  /* Keyframes for halo tracing effect */
  @keyframes halo {
    0% {
      box-shadow: 0 0 10px rgba(160, 106, 248, 0.6), 
                  0 0 30px rgba(160, 106, 248, 0.4), 
                  0 0 60px rgba(160, 106, 248, 0.2);
    }
    25% {
      box-shadow: 0 0 15px rgba(160, 106, 248, 0.8), 
                  0 0 35px rgba(160, 106, 248, 0.5), 
                  0 0 65px rgba(160, 106, 248, 0.3);
    }
    50% {
      box-shadow: 0 0 20px rgba(160, 106, 248, 1), 
                  0 0 40px rgba(160, 106, 248, 0.6), 
                  0 0 70px rgba(160, 106, 248, 0.4);
    }
    75% {
      box-shadow: 0 0 15px rgba(160, 106, 248, 0.8), 
                  0 0 35px rgba(160, 106, 248, 0.5), 
                  0 0 65px rgba(160, 106, 248, 0.3);
    }
    100% {
      box-shadow: 0 0 10px rgba(160, 106, 248, 0.6), 
                  0 0 30px rgba(160, 106, 248, 0.4), 
                  0 0 60px rgba(160, 106, 248, 0.2);
    }
  }

/* Greeting Section (Sticky) */
.sticky-section {
  position: -webkit-sticky;
  position: sticky;
  top: 0; /* Sticks at the top of the viewport */
  height: 100vh; /* Full height to make sure it covers the viewport */
  z-index: 1; /* Ensure it's behind the overlay section */
}

/* Introduction Section (Scrolls Over) */
.overlay-section {
  position: relative;
  z-index: 2; /* Ensure it scrolls over the sticky section */
  background-color: #141221;
  overflow: hidden;
}

/* Process Section */
.dots {
  filter: blur(1px) contrast(10);
  padding: 6rem;
  position: relative;
}

.dot {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background: #9747FF;
  margin: .5rem;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.select {
  display: block;
  justify-content: center;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  background: #9747FF;
  position: absolute;
  z-index: 3;
  pointer-events: none;
}

/* About Our Committment section */
.circle-1 {
  background: radial-gradient(circle at top left, #F6FFBC, #DAC4E7 25%, #3B1AE5);
}

.circle-2 {
  background: radial-gradient(circle at top left, #DAC4E7, #9BA5EA 50%, #9747FF);
}

.circle-3 {
  background: radial-gradient(circle at bottom right, #F6FFBC, #DAC4E7 60%, #9747FF);
}

.circle-4 {
  background: radial-gradient(circle at top left, #F6FFBC, #9BA5EA 50%, #9747FF);
}

/* Projects section */
.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05); /* Slightly grow on hover */
  color: #a06af8; /* Example of hover color */
}
