@import './custom.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Greycliff CF', sans-serif, 'Bely Display', 'Bely', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(244, 243, 255, 1);
  background-color: #141221;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply font-display;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  cursor: default;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer base {
  body {
    @apply font-display;
  }

  span {
    @apply font-serif;
  }
}