/* src/styles/index.css */
@import './custom.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Greycliff CF', Inter, Avenir, 'Helvetica Neue', Arial, sans-serif, 'Bely Display', 'Bely', Georgia, 'Times New Roman', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141221;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply font-serif; /* Applies Tailwind's `font-serif` utility */
  @apply font-display;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  cursor: default;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
