/* NavItem Styles */
.nav-item {
  position: relative;
  font-weight: 400;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 9999px;
  transition: background-color 0.2s ease-in-out;
}

.nav-item::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f3ff;
  color: #141221;
  border-radius: inherit;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  z-index: 0; 
  content: "";
  transform: translateX(-105%);
}

.nav-item:hover {
  z-index: 2; 
}

.nav-item:hover::before {
  transform: translateX(0);
}

.nav-item:hover .nav-text {
  color: #141221;
  font-weight: 500;
}

.nav-item-active {
  background-color: #f4f3ff;
  z-index: 3; 
}

.nav-item-active .nav-text {
  color: #141221;
  font-weight: 500;
}

.nav-text {
  position: relative;
  z-index: 2; 
  transition: color 0.3s ease-in-out;
}

/* Primary Button */
.sticky-button {
  position: fixed;
  bottom: 2.25rem;
  right: 2.25rem;
  z-index: 1000;
  cursor: pointer;
}

@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

.shake-top {
  -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	 animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.hover-shake-top:hover {
  animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* Burn-In text initial state */
.burn-in {
  color: transparent;
  text-shadow: 0px 0px 12px #fff; /* Glowing effect */
  opacity: 0; /* Hidden initially */
  transform: translateY(5px); /* Slightly off position */
  transition: all 0.5s ease-in-out;
}

.burn-in.show {
  color: #272343; /* Final text color */
  text-shadow: none; /* Remove the glow */
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Back to normal position */
}

.crystal-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2rem;
  z-index: 9999;
}