/* NavItem Styles */
.nav-item {
  position: relative;
  font-weight: 400;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 9999px;
  transition: background-color 0.2s ease-in-out;
}

.nav-item::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f3ff;
  color: #141221;
  border-radius: inherit;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  z-index: 0; 
  content: "";
  transform: translateX(-105%);
}

.nav-item:hover {
  z-index: 2; 
}

.nav-item:hover::before {
  transform: translateX(0);
}

.nav-item:hover .nav-text {
  color: #141221;
  font-weight: 500;
}

.nav-item-active {
  background-color: #f4f3ff;
  z-index: 3; 
}

.nav-item-active .nav-text {
  color: #141221;
  font-weight: 500;
}

.nav-text {
  position: relative;
  z-index: 2; 
  transition: color 0.3s ease-in-out;
}

/* Primary Button */
.sticky-button {
  position: fixed;
  bottom: 2.25rem;
  right: 2.25rem;
  z-index: 1000;
  cursor: pointer;
}

@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

.shake-top {
  -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	 animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.hover-shake-top:hover {
  animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* UVP - Crystall Ball */
.glowing-crystal {
  width: 100%; /* Ensure it fills the container */
  height: 100%; /* Ensure it fills the container */
  border-radius: 50%;
  background: radial-gradient(circle, rgba(246, 255, 188, 1) 0%, rgba(135, 71, 255, 1) 100%);
  box-shadow: 
    inset 0 0 50px #F6FFBC,      /* Light yellow inner glow */
    inset 20px 0 60px #9747FF,   /* Purple inner glow */
    inset -20px 0 60px #880088,  /* Dark plum inner glow */
    inset 20px 0 300px #9747FF,  /* Deeper purple */
    inset -20px 0 300px #880088, /* Deeper dark plum */
    0 5px 5px #F6FFBC,           /* Outer light yellow glow */
    -10px 0 60px #9747FF,        /* Outer purple glow */
    10px 0 60px #880088;         /* Outer dark plum glow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; /* Ensures the element is clearly interactive */
}

.glowing-crystal:hover {
  transform: scale(1.05); /* Slight scaling on hover */
  box-shadow: 
    inset 0 0 60px #F6FFBC,    /* Light yellow glow */
    inset 20px 0 70px #9747FF, /* Enhanced purple glow */
    inset -20px 0 70px #880088,/* Enhanced dark plum glow */
    0 5px 10px #F6FFBC,        /* Increased outer light yellow glow */
    -10px 0 80px #9747FF,      /* Increased outer purple glow */
    10px 0 80px #880088;       /* Increased outer dark plum glow */
}

/* Shaking effect, which happens when clicked */
.shake-vertical {
  animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  transform-origin: center; /* Keep the shake consistent */
}

/* Shaking keyframes */
@keyframes shake-vertical {
  0%, 100% {
    transform: translateY(0) scale(1.05); /* Maintain the hover scale during shake */
  }
  10%, 30%, 50%, 70% {
    transform: translateY(-8px) scale(1.05); /* Shake vertically while maintaining scale */
  }
  20%, 40%, 60% {
    transform: translateY(8px) scale(1.05);
  }
  80% {
    transform: translateY(6.4px) scale(1.05);
  }
  90% {
    transform: translateY(-6.4px) scale(1.05);
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95); /* Slightly smaller at start */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Return to normal size */
  }
}

/* Burn-In text initial state */
.burn-in {
  color: transparent;
  text-shadow: 0px 0px 12px #fff; /* Glowing effect */
  opacity: 0; /* Hidden initially */
  transform: translateY(5px); /* Slightly off position */
  transition: all 0.5s ease-in-out;
}

.burn-in.show {
  color: #272343; /* Final text color */
  text-shadow: none; /* Remove the glow */
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Back to normal position */
}

.crystal-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2rem;
  z-index: 9999;
}