@import './custom.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-header: 'Greycliff CF', 'Poppins', sans-serif;
    --font-serif: 'Bely Display', 'Gloock', serif;
    --font-body: 'Alegreya', serif;

    --light-background: #f4f3ff;
    --light-text: #141221;
    --dark-background: #141221;
    --dark-text: #f4f3ff;
    --lilac-background: #e9cdff;
    --glow-background: #f8ffce;

    color-scheme: light dark;
    background-color: var(--dark-background);
    color: var(--dark-text);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Alegreya';
    src: url('/fonts/Alegreya-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gloock';
    src: url('/fonts/Gloock-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body, #__next {
    /* Complex repeating background pattern */
    background-image: 
        repeating-linear-gradient(558deg, rgb(20, 18, 33) 0px, rgb(20, 18, 33) 27px, transparent 27px, transparent 29px),
        repeating-linear-gradient(480deg, rgb(20, 18, 33) 0px, rgb(20, 18, 33) 27px, transparent 27px, transparent 29px),
        repeating-linear-gradient(537deg, rgb(20, 18, 33) 0px, rgb(20, 18, 33) 27px, transparent 27px, transparent 29px),
        linear-gradient(290deg, rgb(160, 106, 248), rgb(246, 255, 188));
        background-attachment: fixed; /* Prevents the background from moving */
        background-size: cover; /* Ensures the background covers the viewport */
        background-position: center;
        background-repeat: no-repeat;

    /* Layout and typography settings */
    font-family: var(--font-body);
    min-height: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-y: visible;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
}

p {
    font-family: var(--font-body);
    margin-bottom: 1.25rem;
}

.special-text {
    font-family: var(--font-serif);
    font-weight: bold;
}

/* Theme Classes */
body.light {
    background-color: var(--light-background);
    color: var(--light-text);
}

body.dark {
    background-color: var(--dark-background);
    color: var(--dark-text);
}

body.lilac {
    background-color: var(--lilac-background);
    color: var(--light-text);
}

body.glow {
    background-color: var(--glow-background);
    color: var(--light-text);
}