@import './custom.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-display: 'Greycliff CF', sans-serif; 
    --font-serif: 'Bely Display', 'Bely', serif; 
    --font-accent: 'Bely', serif;
  
    color-scheme: light dark;
    color: rgba(244, 243, 255, 1);
    background-color: #141221;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .font-display {
    font-family: 'greycliff-cf', sans-serif;
  }
  
  .font-serif {
    font-family: 'bely-display', sans-serif;
  }
  
  .font-accent {
    font-family: 'bely', sans-serif;
  }
  
  body {
    font-family: var(--font-display); 
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: var(--font-display);
  }
  
  .serif-text {
    font-family: var(--font-serif);
  }
  
  .accent-text {
    font-family: var(--font-accent);
  }  